<h1>Eat Da Burger!</h1>


<ul id="burger-list">
    {{#each burgers}}
  	    <li>
        <p>{{burger_name}}</p>
        {{!-- <p>{{devoured}}</p> --}}
  	    </li>
    {{/each}}
</ul>

<div class="addBurgerForm">
  <h2>Add a burger!</h2>
  <form class="create-form" action="/" method="POST">
    <div class="form-group">
      <label for="dab">Burger Name:</label>
      <input type="text" id="dab" name="burger_name">
    </div>
    <button id="addBurgerBtn" type="submit">Submit Burger</button>
  </form>
</div>

