<div class="container">
  <div class="box1">
    <h1>Eat Da Burger!</h1>
    <ul id="burger-list">
        {{#each burgers}}
          {{#unless this.devoured}}
            <li>
            <p>{{this.burger_name}}</p>
            </li>
            <button class="devourBtn" data-id="{{this.id}}" data-devoured="{{this.devoured}}">DEVOUR DA BURGER</button>
          {{/unless}}
        {{/each}}
    </ul>
  </div>
  <div class="box2">
    <h1>Burgers you have devoured!</h1>
    <ul id="devoured-burgers">
      {{#each burgers}}
        {{#if this.devoured}}
          <li>
          <p>{{this.burger_name}}</p>
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>

  <form class="create-form">
      <input id="dab" placeholder="Burger Name" rows="3"></input>
      <button id="burger-submit" class="btn" type="submit">Add Burger</button>
  </form>